/* scss-docs-end import-stack */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
    font-family: cairo;
}

.cairo {
    font-family: 'cairo' !important;

}

.bg-brown {
    background-color: #3587CB;
}

.bg-light-green {
    background-color: #F7FBFB
}

.bg-dark-green {
    background-color: #3587CB
}

.bg-green {
    background-color: #238A78
}
